$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;

$default-font-size: 1.6rem;