$color-primary: #80df70;
$color-primary-light: #55c57a;
$color-primary-dark: #509744;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-dark: #424242;

$side-nav-width: 300px;