*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem = 10px, 16px: default...10/16 = 62.5% of the total font-size 
  font-size: 62.5%; // defines what 1rem is
}

body{
  box-sizing: border-box;
}