.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.card-foto {
  position: relative;
}

.card-foto-perfil {
  width: 260px;
  height: 260px;
  box-shadow: 0 1px 5px black;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: 2px solid gray;
  transition: .4s ease;
  backface-visibility: hidden;
}

.card-link {  
  position: absolute;
  bottom: 10rem;
  opacity: 0;
  left: 9rem;
  transition: all 1s;
}

.card-foto:hover .card-link {
  opacity: 1;
}

.card-foto:hover .card-foto-perfil {
  opacity: 0.3;
  filter: drop-shadow(0 0 1rem #000000);
  transform: scale(1.05);

}

.card-link-text {
  font-size: 2rem;
  user-select: none;
}
