.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.card-foto {
  position: relative;
}

.card-foto-perfil {
  width: 210px;
  height: 210px;
  border-radius: 150px;
  margin: 2rem;
  border: 2px solid #353535;
  transition: .4s ease;
  backface-visibility: hidden;
}

.card-link {  
  position: absolute;
  text-align: center;
  bottom: 10.5rem;
  width: 100%;
  opacity: 0;
  transition: all 1s;
}

.card-link-text {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.card-foto:hover .card-link {
  opacity: 1;
}

.card-foto:hover .card-foto-perfil {
  opacity: 0.2;
  transform: translateY(-1rem);
  cursor: pointer;
}
