:root {
  --color-primary: #5DA8C1;
  --color-primary-light: #6bb0c7;
  --color-primary-dark: #0F8891;
  --color-shadow-light: #777;
  --color-black: #000;
  --color-gray-light-1: #F7F7F7;
  --color-gray-dark: #424242;
  --color-white: #fff;
}


@media only screen and (min-width: 360px) and (max-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}