.footerStyle {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: auto;
}

.improve-footer {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7rem;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .improve-footer {
        flex-flow: column;
        margin-left: 1rem;
    }
}