*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-gray-light-1);
}

html {
  font-size: 62.5%;
}

p,h1,h3 {
  color: var(--color-gray-dark);
}


a, .toc .toggleNav ul li.navListItemActive a, 
.toc .toggleNav .navGroup .navGroupCategoryTitle,
.toc .toggleNav ul li a:hover, .toc .toggleNav ul li a:focus {
  color: black;
}

.dark-btn {
  border: 1px solid #353535;
  padding: 6px;
  border-radius: 6px;
  transition: all .2s;
}

.dark-btn:hover {
  background-color: #353535;
  color: #f3f3f3;
}
