body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  color: var(--color-gray-light-1);
  text-transform: uppercase;
  margin-bottom: 4rem;
  user-select: none; 
}

.heading-primary--main {
  margin-bottom: 5rem;
  display: block;
  font-size: 7.5rem;
  font-weight: 400;
  letter-spacing: 5rem;
  animation: moveInTop 2s ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.4rem;
  margin-right: 34px;
  animation: moveInBottom 2s ease-in-out;
}

.heading-colaboradores {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1360px) and (min-width: 731px) {
  .heading-primary--main {
    font-size: 6.5rem;
    letter-spacing: 4.8rem;
  }
  .heading-primary--sub {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 730px) and (min-width: 581px){
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 4.8rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 580px) {
  .heading-primary--main {
    font-size: 3.2rem;
    letter-spacing: 2.5rem;
  }
  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: .7rem;
    margin-left: 8px;
  }
}
@media only screen and (max-width: 475px) {
  .header__text-box {
    margin-top: 50px;
  }
}