.button {
    width: 8em;
    margin: 1em;
    text-align: center;
}

.button-content {
    margin: auto;
    text-align: center;
}

.button-name {
    margin: 0;
    padding: 0;
    font-size: 1.5em    
}

.buttons-area {
    display: flex;
    justify-content: center;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabs-links {

}

.growth-color {
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    color: grey;
  }
  
  .growth-color:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    color: black;
  }

  .hoverclick:hover {
    text-shadow: 0px 0px 30px rgb(173, 172, 172);
  }

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

.click {
    text-shadow: 0px 0px 30px rgb(173, 172, 172);
    transition: 0.1s;
    transform: scale(1.1);
}

.mainButton {
    transform: scale(1.1);
    color: black;
    width: 8em;
    margin: 1em;
    text-align: center;
}

