.button {
    width: 3em;
}

.button-content {
    margin: auto;
    text-align: center;
    
}

.button-name {
    margin: 0;
    padding: 0;
    font-size: 1.5em
}

.button:hover {

}

.tabs {

}
.tabs-links {

}

.growth-color {
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    color: grey;
  }
  
  .growth-color:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    color: black;
  }
