body { /* base */
  height: 150vh;
  background-color: #CCC;
}

* {
  margin: 0;
  padding: 0;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #3f3f3f;
  left: -200px;
  transition: all .5s;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(49, 49, 49, 0.418);
}

#sidebar ul li a {
  color: #eee;
  text-decoration: none;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 0px;
}
