#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #3f3f3fa1;
  left: -300px;
  transition: all .5s;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  list-style: none;
  padding: 15px 10px 10px 20px;
  border-bottom: 1px solid rgba(49, 49, 49, 0.418);
}
#sidebar ul li a:hover {
  color: white;
}

#sidebar ul li a {
  font-size: 1.5rem;
  color: #ccc;
  text-decoration: none;
}

#sidebar .toggle-btn {
  position: absolute;
  cursor: pointer;
  left: 330px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 0px;
}
