#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #3f3f3fa1;
  left: -300px;
  transition: all .5s;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  list-style: none;
  border-bottom: 1px solid rgba(49, 49, 49, 0.418);
  border-bottom: none;
  position: relative;
  overflow: hidden;
}
#sidebar ul li a:hover {
  color: white;
}

#sidebar ul li a {
  font-size: 1.5rem;
  padding: 15px 10px 10px 20px;
  color: #ccc;
  text-decoration: none;
  display: block;
}

#sidebar .toggle-btn {
  position: absolute;
  cursor: pointer;
  left: 330px;
  top: 20px;
  background-color: gray;
  border-radius: 40px;
  border: 2px solid black;
  padding: 12px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 0px;
}

#background-shadow.active {
  background-color: rgba(0, 0, 0, .4);
  height: 100vh;
  margin-left: 300px;
  transition: all .5s;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: purple;
  transform: scaleY(0);
  transition: transform .5s;
}

.side-nav__item:hover::before {
  transform: scaleY(1);
}

.side-nav__link {

}