.header {
  min-height: 100vh;
  background-image: linear-gradient(
                      to right bottom, 
                      rgba($color-primary, .9), 
                      rgba($color-primary-dark, .7)
                    );
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;

  
  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }
}