@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem)
  }
  80% {
    transform: translateY(1rem)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem)
  }
  80% {
    transform: translateY(-1rem)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}