:root {
  --color-primary: #80df70;
  --color-primary-light: #4ffa88;
  --color-primary-dark: #509744;
  --color-shadow-light: #777;
  --color-black: #000;
  --color-gray-light-1: #f7f7f7;
  --color-gray-dark: #424242;
  --color-white: #fff;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}