*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
  background-color: var(--color-gray-dark);
}

html {
  font-size: 62.5%;
}

p, h1, h2, h3, a {
  color: white;
  text-shadow: 0 2px 2px black;
}

