.toggleBtn {
  position: absolute;
  cursor: pointer;
  left: 330px;
  top: 20px;
  padding: 12px;
}

.toggleBtn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: red;
  margin: 5px 0px;
}