.menuButton {
  position: fixed;
  cursor: pointer;
  left: 40px;
  top: 40px;
  padding: 12px;
}

.menuButton span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: $color-gray-light-1;
  margin: 5px 0px;
}

