
.side-nav__item {
  list-style: none;
  border-bottom: 1px solid rgba(49, 49, 49, 0.418);
  border-bottom: none;
  position: relative;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgb(255, 105, 130);
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s cubic-bezier(1, 0, 0, 1) .2s,
                background-color .4s;
  }
}

.side-nav__link {
  font-size: 1.5rem;
  padding: 15px 10px 10px 20px;
  color: #ccc;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 10;
}


.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: pink;
}


